@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: #030014;

  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;

  --color-gray-100: #9ca4ab;

  --color-dark-100: #0f0d23;

  --font-dm-sans: DM Sans, sans-serif;

  --breakpoint-xs: 480px;

  --background-image-hero-pattern: url('/hero-bg.png');
}

@layer base {
  body {
    font-family: 'DM Sans', serif;
    font-optical-sizing: auto;
    background-image: url("/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  h1 {
    @apply mx-auto max-w-4xl text-center text-3xl font-bold leading-tight tracking-[-1%] text-white sm:text-[64px] sm:leading-[76px];
  }

  main {
    @apply min-h-screen min-w-screen relative bg-white/1 backdrop-blur-md;
  }



  /* header img {
    @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-md;
  } */

  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-md {
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-lg {
    text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.6);
  }
}

@layer components {
  .pattern {
    @apply bg-hero-pattern w-screen h-screen bg-center bg-cover absolute z-0;
  }

  .header {
    @apply sm:mt-10 mt-5;

    & .banner {
      @apply w-full sm:w-[35px] md:w-[70px] lg:w-[175px] mx-auto;
    }

    & .logo {
      @apply w-full sm:w-[20px] md:w-[70px] lg:w-[175px] mx-auto;
    }
  }

  .wrapper {
    @apply py-12 max-w-7xl mx-auto flex flex-col relative z-10;

    & h2 {
      @apply font-bold text-white text-shadow-lg mt-16 ml-5 text-xl sm:text-3xl lg:text-3xl;
    }

    & .no-trending {
      @apply text-[#FFFFFF] ; 
    }
  }

  .trending {
    @apply mr-1;

    & ul {
      @apply flex flex-row overflow-y-auto gap-5 w-full hide-scrollbar;
    }

    & ul li {
      @apply min-w-[230px] flex flex-row items-center mr-20;
    }

    & ul li p {
      @apply fancy-text mt-[22px] text-nowrap 
    }

    & ul li img {
      @apply w-[127px] h-[163px] rounded-lg object-cover -ml-3.5
      border-3 border-purple-700 
      bg-blue-100 rounded-lg px-1 py-1;
    }
  }

  .search {
    @apply w-full bg-light-100/5 px-4 py-3 rounded-lg mt-10 max-w-3xl mx-auto;

    & div {
      @apply relative flex items-center;
    }

    & img {
      @apply absolute left-2 h-5 w-5;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-base text-gray-200 placeholder-light-200 outline-hidden;
    }
  }

  .all-movies {
    @apply space-y-9;
 
  & h2 {
    @apply font-bold text-white text-shadow-lg mt-16 ml-5 text-xl sm:text-3xl lg:text-3xl;
  }

  & ul {
    @apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
  }

  & ul li {
    @apply flex justify-center;
  }

  }

  .spinner {
    @apply mt-20 mb-20;
  }

  .movie-card {
     @apply bg-dark-100 p-5 rounded-2xl shadow-inner shadow-light-100/10 cursor-pointer w-full max-w-[360px] cursor-pointer;

    & img {
      @apply rounded-lg h-auto w-full sm:max-w-[340px] lg:max-w-full;
    }

    & h3 {
      @apply text-white font-bold text-base line-clamp-1;
    }

    & .content {
      @apply mt-2 flex flex-row items-center flex-wrap gap-2;
    }

    & .rating {
      @apply flex flex-row items-center gap-1;
    }

    & .rating img {
      @apply size-4 object-contain;
    }

    & .rating p {
      @apply font-bold text-base text-white;
    }

    & .content span {
      @apply text-sm text-gray-100;
    }

    & .content .lang {
      @apply capitalize text-gray-100 font-medium text-base;
    }

    & .content .year {
      @apply text-gray-100 font-medium text-base;
    }
  }

  .movie-box {
    @apply p-5 text-white fixed inset-0 flex items-center justify-center z-50 bg-white/1 backdrop-blur-md;

    & .box-containing {
      @apply w-full xl:max-w-7xl mx-auto bg-[#00033D] p-10 rounded-3xl h-[90%] overflow-y-auto hide-scrollbar;
    }

    & .icon-container {
      @apply text-end mb-5;
    }

    & .info-container {
      @apply flex flex-col items-center md:gap-5 md:mt-15 lg:mt-15 lg:gap-5 xl:gap-10 xl:flex-row;
    }

    & .info-container img {
      @apply w-[200px] h-[250px] md:w-[300px] md:h-[350px] xl:w-[500px] xl:h-[500px] rounded-2xl;
    }

    & .detail-container {
      @apply flex flex-col gap-5 md:gap-15 lg:gap-15 xl:gap-8 xl:gap-10 text-center xl:text-start;
    }

    & .detail-container h2{
      @apply font-bold text-white text-shadow-lg mt-5 text-2xl md:text-4xl xl:text-4xl;
    }

    & .detail-container p {
      @apply text-start;
    }

    & .detail-container .rating{
      @apply flex gap-2 md:text-2xl lg:text-lg md:gap-5 justify-center xl:justify-start;
    
      & .rate-text {
        @apply hidden md:inline-block xl:inline-block;
      }

      & .hiding {
        @apply hidden md:inline-block xl:inline-block;
      }
    }

    & .detail-container .rating .bi{
      @apply text-[#F9D423];
    }

    & .detail-container .rating span{
      @apply font-bold;
    }

    & .detail-container .info-button{
      @apply bg-[#6E3482] p-3 rounded-2xl shadow-2xl cursor-pointer md:text-2xl lg:text-lg;
    }

    & .detail-container .info-button:hover{
      @apply bg-[#49225B] transition-all duration-200 ease-in-out;
    }

    & .detail-container button:active {
      @apply scale-98;
    }

    & .detail-container .small-info{
      @apply inline-block md:hidden xl:hidden;
    }

    & .detail-container .big-info{
      @apply hidden md:inline-block xl:inline-block md:text-2xl lg:text-2xl xl:text-lg;
    }
  }
}

@utility text-gradient {
  @apply bg-gradient-to-r from-[#FF8BD1] via-[#FF4DA3] to-[#FF007F] bg-clip-text text-transparent;
}

@utility fancy-text {
  -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
  font-size: 190px;
  font-family: 'Bebas Neue', sans-serif;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}